:root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav-cont {
  background-color: var(--clr-banner-bg);
  color: var(--clr-banner-fg);
}

.nav {
  height: 4rem;
  min-height: 4rem;
}

.nav img {
  height: 3rem;
  aspect-ratio: 1;

  object-fit: contain;
}


.links {
  gap: 1.5rem;

  a {
    color: #fff;
    text-decoration: none;
  }
}

footer {
  background-color: var(--clr-banner-bg);
  color: var(--clr-banner-fg);

  height: 10rem;
}

.f-logo img {
  height: 10rem;
  aspect-ratio: 1;

  object-fit: contain;
}

.socials {
  gap: 1rem;
  svg {
    width: 2rem;
    aspect-ratio: 1;

    fill: var(--clr-banner-fg);
  }
}
.soc-container {
  gap: 1rem;
}

.soc-container .head {
  font-size: 1.5rem;
}