:root {
  font-family: 'Lato', sans-serif;

  --clr-bg: rgba(240, 240,240);
  --clr-fg: rgb(30, 30, 30);

  --clr-banner-bg: #001d54;
  --clr-banner-fg: #f7f7f7;

  background-color: var(--clr-bg);
  color: var(--clr-fg);
}

.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  width: 100%;
}

.flx {
  display: flex;
}

.flx--v {
  flex-direction: column;
}

.flx--1 {
  flex: 1;
}

.flx-c,
.flx--ac {
  align-items: center;
}

.flx--c,
.flx--jc {
  justify-content: center;
}